<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/index.css">
    <link rel="stylesheet" href="../../assets/styles/formulario.css">
    <title>{{ title }}</title>
</head>
<body>
    <main class="container">
        <section class="card">
            <section class="header">
                <h2>Campo minado</h2>
            </section>
            <div class="formulario">
                <h2>Criar conta</h2>
                <br><br>
                <form id="formCadastro" action="?url=CriarConta/salvar" method="POST">
                    <div class="inputs">
                        <div>
                            <label for="name">Nome completo:</label>
                            <input id="name" type="text" name="name" required>
                        </div>
                        <div>
                            <label for="data-nascimento">Data de nascimento:</label>
                            <input id="data-nascimento" type="date" name="data-nascimento" required>
                        </div>
                        <div>
                            <label for="cpf">CPF:</label>
                            <input id="cpf" type="number" name="cpf" required>
                        </div>
                        <div>
                            <label for="telefone">Telefone:</label>
                            <input id="telefone" type="text" name="telefone" required>
                        </div>
                        <div>
                            <label for="e-mail">E-mail:</label>
                            <input id="e-mail" type="email" name="email" required>
                        </div>
                        <div>
                            <label for="username">Username:</label>
                            <input id="username" type="text" name="username" required>
                        </div>
                        <div>
                            <label for="senha">Senha:</label>
                            <input id="senha" type="password" name="senha" required>
                        </div>
                    </div>
                    <div class="btn-envio">
                        <button type="submit">Criar conta</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script>
        document.getElementById('formCadastro').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('?url=CriarConta/salvar', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'error') {
                    alert(data.message);
                } else if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = '?url=Index/index';
                }
            })
            .catch(error => {
                console.error('Erro na requisição:', error);
                alert('Ocorreu um erro ao tentar criar a conta. Tente novamente.');
            });
        });

    </script>
</body>
</html>
